<div class="login-box">
  <div class="lb-header">
    <a href="#" class="active" id="login-box-link">Login</a>
  </div>
  <form class="email-login">
    <div class="u-form-group">
      <input name="email" type="email" placeholder="Email" [(ngModel)]="email" />
    </div>
    <div class="u-form-group">
      <input name="password" type="password" placeholder="Password" [(ngModel)]="password" />
    </div>
    <div class="u-form-group">
      <button (click)="login()">Log in</button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" [hidden]="!loginError">
      <strong>Error!</strong> Incorrect email and/or password.
    </div>
    <div class="u-form-group">
      <a routerLink="/register" class="forgot-password">Register</a> <br>
    </div>
  </form>
</div>